widths = {
	sm: {
		prefix: sm,
		container-width: 360px,
		min-screen: 0px,
		container-padding: 10px,
		column-padding: 4px,
		column-number: 12,
	},
	md: {
		prefix: md,
		container-width: 1220px,
		min-screen: 1280px,
		container-padding: 10px,
		column-padding: 10px,
		column-number: 12,
	},
	lg: {
		prefix: lg,
		container-width: 1560px,
		min-screen: 1600px,
		container-padding: 15px,
		column-padding: 15px,
		column-number: 12,
	},
}