.foot-logo
	&__logo
		mix-logo()
		
		display inline-block
		font-size 16px
		background-color red-logo
		padding 6px 8.5px
		border-radius 4px
	
	&__cr
		display none
		
	@media (min-width md-min)
		&__logo
			margin-bottom 20px
		
		&__cr
			display block
			font-size 14px
			font-weight 500
			color black