.header
	background-color blue-light
	box-shadow 0 3px 15px rgba(black, .1)
	z-index 5
	margin-bottom 30px
	padding 17px 0
	top -150px
	
	@media (min-width md-min)
		&--fixed
			padding-top 180px
			
		&--fixed &
			position fixed
			width 100%
			top 0
			transition top .2s

@import 'head-logo'
@import 'serv-nav'