.trigger
	float right
	display inline-block
	width 45px
	height 45px
	border-radius 4px
	text-align center
	padding 15px 0
	background-color white
	box-shadow inset 0 1px 1px rgba(black, .09),
		0 1px 1px rgba(#2e2200, .35)
	cursor pointer
	
	&__strip
		display inline-block
		width 25px
		height 2px
		background-color black
		
		&:not(:last-child)
			margin-bottom 5px
