// normalize
@import '../../bower_components/normalize-styl/_normalize'
// ninja-framework
@import 'partials/ninja-framework/ninja'
// svg-sprites
@import 'sprites/png-sprite'
// @import 'sprites/svg-sprite'

// шрифты
@import 'partials/fonts'
// переменные
@import 'partials/vars'
// миксины стилей текстов
@import 'partials/scaf'
// общие стили
@import 'partials/common'

// шаблон
@import 'block/header'
@import 'block/head-contacts'
@import 'block/trigger'
@import 'block/navigation'
@import 'block/head-jobs'
@import 'block/head-search'

@import 'block/footer'

@import 'block/breadcrumbs'
// новости
@import 'block/news'