header.header
	.container
		.row
			.col-sm-0.col-md-2#fixWidth
				include block/head-logo
				include block/serv-nav
			.col-sm-2.col-md-0
				a.head-logo(href='index.html') PR
			.col-sm-8.col-md-5
				include block/head-contacts
				include block/head-jobs
			.col-sm-2.col-md-0
				include block/trigger
			.col-sm-12.col-md-5#fixWidth2
				include block/navigation
				include block/head-search
				