// ширины
sm-max = 1279px
md-min = 1280px
md-max = 1599px
lg-min = 1600px

// размеры шрифтов
fz-main = 16px

// хедер
// лого
logo-big = fz-main * 1.75
logo-small = fz-main * 1.3125

cont-phone = fz-main * 1.125
cont-bc = fz-main * .75
cont-req = fz-main * .75

serv-nav = fz-main * .75
serv-nav-suba = fz-main * .875

// крошки
brcr-text = fz-main * .75

// новости
news-title = fz-main * 3.75

news-item-title = fz-main * 1.125
news-item-time = fz-main * .8125
news-item-text = fz-main * .875


// цвета
white = #fff

gray-bgc = #eef3f6
gray-very-light = #c6cdd2

blue-link = #0f84d2
blue-light = #e1e8ed
blue-very-light = #f1f8fc

blue-btn = #eaf1f6

red-logo = #e60808

// шрифты
roboto = 'Roboto', sans-serif