/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$png_fb_name = 'png_fb';
$png_fb_x = 95px;
$png_fb_y = 25px;
$png_fb_offset_x = -95px;
$png_fb_offset_y = -25px;
$png_fb_width = 12px;
$png_fb_height = 20px;
$png_fb_total_width = 109px;
$png_fb_total_height = 100px;
$png_fb_image = '../img/png-sprite.png';
$png_fb = 95px 25px -95px -25px 12px 20px 109px 100px '../img/png-sprite.png' 'png_fb';
$png_fb_big_name = 'png_fb_big';
$png_fb_big_x = 95px;
$png_fb_big_y = 0px;
$png_fb_big_offset_x = -95px;
$png_fb_big_offset_y = 0px;
$png_fb_big_width = 14px;
$png_fb_big_height = 24px;
$png_fb_big_total_width = 109px;
$png_fb_big_total_height = 100px;
$png_fb_big_image = '../img/png-sprite.png';
$png_fb_big = 95px 0px -95px 0px 14px 24px 109px 100px '../img/png-sprite.png' 'png_fb_big';
$png_kdm_name = 'png_kdm';
$png_kdm_x = 57px;
$png_kdm_y = 0px;
$png_kdm_offset_x = -57px;
$png_kdm_offset_y = 0px;
$png_kdm_width = 37px;
$png_kdm_height = 33px;
$png_kdm_total_width = 109px;
$png_kdm_total_height = 100px;
$png_kdm_image = '../img/png-sprite.png';
$png_kdm = 57px 0px -57px 0px 37px 33px 109px 100px '../img/png-sprite.png' 'png_kdm';
$png_kdm_big_name = 'png_kdm_big';
$png_kdm_big_x = 0px;
$png_kdm_big_y = 0px;
$png_kdm_big_offset_x = 0px;
$png_kdm_big_offset_y = 0px;
$png_kdm_big_width = 56px;
$png_kdm_big_height = 50px;
$png_kdm_big_total_width = 109px;
$png_kdm_big_total_height = 100px;
$png_kdm_big_image = '../img/png-sprite.png';
$png_kdm_big = 0px 0px 0px 0px 56px 50px 109px 100px '../img/png-sprite.png' 'png_kdm_big';
$png_mail_name = 'png_mail';
$png_mail_x = 0px;
$png_mail_y = 51px;
$png_mail_offset_x = 0px;
$png_mail_offset_y = -51px;
$png_mail_width = 32px;
$png_mail_height = 32px;
$png_mail_total_width = 109px;
$png_mail_total_height = 100px;
$png_mail_image = '../img/png-sprite.png';
$png_mail = 0px 51px 0px -51px 32px 32px 109px 100px '../img/png-sprite.png' 'png_mail';
$png_search_name = 'png_search';
$png_search_x = 0px;
$png_search_y = 84px;
$png_search_offset_x = 0px;
$png_search_offset_y = -84px;
$png_search_width = 16px;
$png_search_height = 16px;
$png_search_total_width = 109px;
$png_search_total_height = 100px;
$png_search_image = '../img/png-sprite.png';
$png_search = 0px 84px 0px -84px 16px 16px 109px 100px '../img/png-sprite.png' 'png_search';
$png_twit_name = 'png_twit';
$png_twit_x = 58px;
$png_twit_y = 51px;
$png_twit_offset_x = -58px;
$png_twit_offset_y = -51px;
$png_twit_width = 20px;
$png_twit_height = 16px;
$png_twit_total_width = 109px;
$png_twit_total_height = 100px;
$png_twit_image = '../img/png-sprite.png';
$png_twit = 58px 51px -58px -51px 20px 16px 109px 100px '../img/png-sprite.png' 'png_twit';
$png_twit_big_name = 'png_twit_big';
$png_twit_big_x = 33px;
$png_twit_big_y = 51px;
$png_twit_big_offset_x = -33px;
$png_twit_big_offset_y = -51px;
$png_twit_big_width = 24px;
$png_twit_big_height = 20px;
$png_twit_big_total_width = 109px;
$png_twit_big_total_height = 100px;
$png_twit_big_image = '../img/png-sprite.png';
$png_twit_big = 33px 51px -33px -51px 24px 20px 109px 100px '../img/png-sprite.png' 'png_twit_big';
$png_vk_name = 'png_vk';
$png_vk_x = 17px;
$png_vk_y = 84px;
$png_vk_offset_x = -17px;
$png_vk_offset_y = -84px;
$png_vk_width = 20px;
$png_vk_height = 12px;
$png_vk_total_width = 109px;
$png_vk_total_height = 100px;
$png_vk_image = '../img/png-sprite.png';
$png_vk = 17px 84px -17px -84px 20px 12px 109px 100px '../img/png-sprite.png' 'png_vk';
$png_vk_big_name = 'png_vk_big';
$png_vk_big_x = 57px;
$png_vk_big_y = 34px;
$png_vk_big_offset_x = -57px;
$png_vk_big_offset_y = -34px;
$png_vk_big_width = 24px;
$png_vk_big_height = 14px;
$png_vk_big_total_width = 109px;
$png_vk_big_total_height = 100px;
$png_vk_big_image = '../img/png-sprite.png';
$png_vk_big = 57px 34px -57px -34px 24px 14px 109px 100px '../img/png-sprite.png' 'png_vk_big';
$spritesheet_width = 109px;
$spritesheet_height = 100px;
$spritesheet_image = '../img/png-sprite.png';
$spritesheet_sprites = $png_fb $png_fb_big $png_kdm $png_kdm_big $png_mail $png_search $png_twit $png_twit_big $png_vk $png_vk_big;
$spritesheet = 109px 100px '../img/png-sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
