.foot-contacts
	h4.foot__title Контакты
	a.foot-contacts__phone(href='tel:+78124485990') (812) 448-59-90
	a.foot-contacts__phone(href='tel:+74957781241') (495) 778-12-41
	a.foot-contacts__mail(href='mailto:hello@printsalon.ru') hello@printsalon.ru
.kdm
	p.kdm__text Сделано правильно в агенстве 
		| &laquo;
		a.kdm__a(href='http://kdm1.ru') Клиника&nbsp;доброго&nbsp;маркетолога
		| &raquo;